/*********************************************************/
/* Type */
/*********************************************************/

@font-face {
  font-family: roboto;
  src:  url('/assets/roboto-regular-webfont.woff') format('woff'),
        url('/assets/roboto-regular-webfont.woff2') format('woff2');
}

/*********************************************************/
/* Reset */
/*********************************************************/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-family: roboto;
	font-size: 100%;
  font-weight: 400;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background: #111;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -4px;
}

h6 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4rem;
}

body {
  display: flex;
}

navbar {
  width: 100px;
  height: 100vh;
  background: #1c1c1c;
}

.grid-container {
  padding: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 1.25rem;
  row-gap: 2rem;
}

.thumbnail{
  display: grid;
  background-size: contain;
  aspect-ratio: 1;
  justify-content: center;
  align-content: center;
  border-radius: 1rem;
  margin-bottom: 0.3rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.2rem;
}

.label-1 {
  color: #ddd;
}

.label-2 {
  color: #999;
}

/*********************************************************/
/* Form Factors */
/*********************************************************/

@media screen and (max-width: 1200px) {
  .card p {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .grid-container {
    padding: 80px 60px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
}

@media screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }

  .grid-container {
    padding: 60px;
  }

  navbar {
    width: 100%;
    height: 80px;
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    padding: 40px;
    column-gap: 1rem;
  }

  .thumbnail {
    border-radius: 0.75rem;
  }
}

@media screen and (max-width: 400px) {
  .grid-container {
    padding: 30px;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    column-gap: 0.75rem;
  }

  .card p {
    font-size: 0.75rem;
    line-height: 0.825rem;
  }

  .thumbnail {
    border-radius: 0.5rem;
  }
}
